/* dark theme */
body , textarea{
	background-color: black;
	color: white;}


/* text area */

.TextTable{
	width: 100%;
}
.TextRow {
	width: 100%;
}
.TextData {
	width: 50%;
	padding: 10px;
}
#InputField, #OutputField {
	width: 100%;
	height: 300px;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
}

/* commands */
.CmdTblDat{
	border: 1px solid white;
}
